<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>ReCollect</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">
    <style></style>
</head>
<body>
<h1 id="top">ReCollect</h1>
<form method="GET" action="/search">
    <input type="text" placeholder="Search in recording transcriptions..." name="text" style="width: 100%"/>
    <label style="display: inline-block" for="projects">Project</label>
    <select name="projects">
        {{#form.projects}}
            <option value="{{name}}" {{selected}}>{{name}}</option>
        {{/form.projects}}
    </select>
    <label style="display: inline-block" for="meeting">Meeting</label>
    <select name="meeting">
        {{#form.meetings}}
            <option value="{{id}}" {{selected}}>{{name}}</option>
        {{/form.meetings}}
    </select>
    <input type="submit" value="Search" style="float: right"/>

    <hr/>

    <div style="text-align: center;">
        <h6>Have a new meeting recording?</h6>
        <a class="btn" href="/upload">Upload!</a>
    </div>
</form>
</body>
</html>
